<link rel="stylesheet" type="text/css" href="common/zTree/css/zTreeStyle/zTreeStyle.css"/>
<script src="common/zTree/js/jquery.ztree.core.js" type="text/javascript" charset="utf-8"></script>
<div>
	<div class="zyx_paperLibrary">
		
		<!--资源展示-->
		<div class="zyx_AddResources zyx_echo_res clearfix" >
			<div class="fl zyx_AddResources_left" repeat-finish="renderFinish()">
				<div ng-show="variablePacket.convertState == '2'" >
					<div class="bofangqi" >
						<div class="loadFlashWrap">
							<p>资源转码失败</p>
						</div>
					</div>
				</div>
				<div ng-show="variablePacket.convertState == '0'" >
					<div class="bofangqi" >
						<div class="loadFlashWrap">
							<p>该资源正在转码中</p>
						</div>
					</div>
				</div>
				
				<div  ng-show="variablePacket.convertState == '1'">
					<div class="zyx_ResLinePic" id="tupian">
						<img ng-src='{{variablePacket.imagePath}}' />
					</div>
					<div class="zyx_ResLineVideo bofangqi" id="showplayer">
						<div class="loadFlashWrap">
							<p>您的浏览器还没有安装Flash插件</p>
							<a href="http://get.adobe.com/cn/flashplayer" target="_black">现在安装</a>
						</div>
					</div>
					<div class="zyx_ResLinePDF" id="pdfPlay">
						<iframe width="790" height="590" src="{{variablePacket.pdfPath}}"></iframe>
						<!--<iframe width="790" height="590" src="common/generic/web/viewer.html?file=http://192.168.9.113:81/Preview/20180824/0474e238af434fc8938d45806dd01e29.pdf"></iframe>-->
						<!--<embed width="790" height="590" src="http://192.168.9.113:81/Preview/20180824/0474e238af434fc8938d45806dd01e29.pdf" />-->
					</div>
				</div>
				<!--<div class="zyx_ResLineMp3" ng-if='variablePacket.EchoLineType == "music"'>音乐的展示区，请放音乐的插件代码</div>
				<div class="zyx_ResLineVideo" ng-if='variablePacket.EchoLineType == "video"'>视频的展示区，请放视频的插件代码</div>
				<div class="zyx_ResLinePDF" ng-if='variablePacket.EchoLineType == "pdf"'>
					<iframe width="790" height="590" src="{{variablePacket.pdfPath}}"></iframe>
					<!--<iframe width="790" height="590" src="common/generic/web/viewer.html?file=http://192.168.9.113:81/Preview/20180824/0474e238af434fc8938d45806dd01e29.pdf"></iframe>-->
					<!--<embed width="790" height="590" src="http://192.168.9.113:81/Preview/20180824/0474e238af434fc8938d45806dd01e29.pdf" />-->
				<!--</div>-->
			</div>
			<div class="fr zyx_AddResources_right">
				<div class="zyx_echo_tit">
					<span ng-click='EchotitTab(0)' ng-class={'active':variablePacket.Echotit==0}>导学资源</span>
					<em></em>
					<span ng-click='EchotitTab(1)' ng-class={'active':variablePacket.Echotit==1}>提问交流</span>
				</div>			
				<div class="zyx_ResLineBox">
					<div class="zyx_resBox" ng-if='variablePacket.Echotit==0'>
						<div class="zyx_ResLine clearfix"  ng-repeat='i in variablePacket.resourceList' repeat-finish="renderFinish()">
							<img src="./img/resources_word.png" ng-if='i.resourceType==6'/>
							<img src="./img/resources_ppt.png" ng-if='i.resourceType==5'/>
							<img src="./img/resources_pic.png" ng-if='i.resourceType==3'/>
							<img src="./img/resources_excal.png" ng-if='i.resourceType==7'/>
							<img src="./img/resources_ear.png" ng-if='i.resourceType==2'/> 
							<img src="./img/resources_video.png" ng-if='i.resourceType==1 || i.resourceType==8 || i.resourceType==9 '/>
							<span ng-click='EchoLineTab($index,i.resourceType,i.ossFileName)' ng-class={'active':variablePacket.EchoLineIndex==$index} ng-bind='i.resourceName'></span>
							<!--<em class="fr" ng-click='delEchoLine($index,i.ResourceNum,i.ResourceTit)'>删除</em>-->
						</div>
					</div>
					<div ng-if='variablePacket.Echotit==1'>
						<div class="zyx_askBox">
							<div class="zyx_ask clearfix" ng-repeat='i in variablePacket.askArry' repeat-finish="renderFinish()">
								<img class="fl" ng-src="{{i.userFace}}"/>
								<div class="fr">
									<p>
										<span ng-bind='i.commentUserName'></span> 
										<span ng-bind='i.content'></span>
									</p>
									<p>
										<!--<span ng-bind='i.askYears'></span>-->
										<span ng-bind='i.commentUpdateDate'>/span>
									</p>
								</div>
							</div>
							<div class="zyx_loading" ng-if='variablePacket.jiazaiCommentBut'  ng-click="jiazaiComment(variablePacket.pageSize)"><i class="iconfont icon-jiazai"></i>加载更多...</div>
						</div>
						<div class="zyx_inFont clearfix">
							<textarea ng-model="variablePacket.message"></textarea>
							<button class="fr" ng-click='askButton()'>发表</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!--习题展示-->
		<div class="zyx_echo_que" style="display: none;">
			<!--标题切换-->
			<div class="zyx_lines clearfix" id='zyx_lines' ng-class="{'active':variablePacket.titFixed}">
				<div class="linesLeft fl">
					<span class="zyxNav" ng-class='{"active":variablePacket.queIndexEcho==$index}' ng-repeat='i in echoQuestion.title' ng-bind='i.name' ng-click="jump($index)"></span>
				</div>
			</div>
			<!--题型展示-->
			<div class="zyx_AddQuestion">
				<!--单选-->
				<div class="zyx_Single" ng-attr-id="{{'0'}}">
					<p class="zyx_topicHead">一、单选题</p>
					<div class="zyx_topic" ng-repeat='i in echoQuestion.single' >
						<!--展示-->
						<div class="zyx_LookShow toggle">
							<div class="zyx_Top clearfix">
								<div class="tit clearfix">
									<h5 class="fl"><b ng-bind='$index+1'>1</b>单选题</h5>
								</div>
								<div class="queTit" ng-bind='i.queTit'></div>
								<!--已学习-->
								<div class="fl zyx_myAnswer zyx_learn" ng-if="variablePacket.state=='learn'">
									<em>我的答案:</em>
									<span class="zyx_SingleBg" ng-bind='i.myAnswer'></span>
									<i class="iconfont icon-dui"ng-if='i.icon=="correct"'></i>
									<i class="iconfont icon-cuo" ng-if='i.icon=="error"'></i>
									<i class="iconfont icon-bandui" ng-if='i.icon=="half"'></i>
								</div>
								<!--未学习-->
								<div class="fl zyx_myAnswer zyx_notLearn" ng-if="variablePacket.state=='notLearn'">
									<em>答案:</em>
									<ul class="zyx_option clearfix">
										<li>
											<input type="radio" ng-attr-name="{{$index+i.Type}}" ng-attr-id="{{'a'+i.Id+i.Type}}" ng-model='i.notLearnAnswer' value="A" />
											<label ng-attr-for="{{'a'+i.Id+i.Type}}">A</label>
										</li>
										<li>
											<input type="radio" ng-attr-name="{{$index+i.Type}}" ng-attr-id="{{'b'+i.Id+i.Type}}" ng-model='i.notLearnAnswer' value="B" />
											<label ng-attr-for="{{'b'+i.Id+i.Type}}">B</label>
										</li>
										<li>
											<input type="radio" ng-attr-name="{{$index+i.Type}}" ng-attr-id="{{'c'+i.Id+i.Type}}" ng-model='i.notLearnAnswer' value="C" />
											<label ng-attr-for="{{'c'+i.Id+i.Type}}">C</label>
										</li>
										<li>
											<input type="radio" ng-attr-name="{{$index+i.Type}}" ng-attr-id="{{'d'+i.Id+i.Type}}" ng-model='i.notLearnAnswer' value="D" />
											<label ng-attr-for="{{'d'+i.Id+i.Type}}">D</label>
										</li>
									</ul>
								</div>
								<span class="linesRight fr" ng-click='lookAnswerEcho(i.Type,$index,i.AnswerShow)' ng-class='{"active":i.AnswerShow}' ng-if="variablePacket.state=='learn'">
									查看答案及解析  <i class="iconfont icon-arrow_you"></i>
								</span>
							</div>
							<!--答案解析-->
							<ul class="zyx_Bottom scale-fade" ng-if='i.AnswerShow'>
								<li class="Answer">
									<strong>答案</strong>
									<div ng-bind='i.Answer'></div>
								</li>
								<li class="Analysis">
									<strong>解析</strong>
									<div  ng-bind='i.Analysis'></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!--多选题-->
				<div class="zyx_Many" ng-attr-id="{{'1'}}">
					<p class="zyx_topicHead">二、多选题</p>
					<div class="zyx_topic" ng-repeat='i in echoQuestion.many'>
						<!--展示-->
						<div class="zyx_LookShow toggle">
							<div class="zyx_Top clearfix">
								<div class="tit clearfix">
									<h5 class="fl"><b ng-bind='$index+1'>1</b>多选题</h5>
								</div>
								<div class="queTit" ng-bind='i.queTit'></div>
								<!--已学习-->
								<div class="fl zyx_myAnswer" ng-if="variablePacket.state=='learn'">
									<em>我的答案:</em>
									<span class="zyx_ManyBg" ng-repeat='z in i.myAnswer' ng-bind='z'></span>
									<i class="iconfont icon-dui" ng-if='i.icon=="correct"'></i>
									<i class="iconfont icon-cuo" ng-if='i.icon=="error"'></i>
									<i class="iconfont icon-bandui" ng-if='i.icon=="half"'></i>
								</div>
								<!--未学习-->
								<div class="fl zyx_myAnswer zyx_notLearn" ng-if="variablePacket.state=='notLearn'">
									<em>答案:</em>
									<ul class="zyx_option clearfix">
										<li>
											<input type="checkbox" ng-attr-name="{{$index}}"  ng-attr-id="{{'a'+i.Id+i.Type}}" ng-true-value="true" ng-false-value="false" ng-model='i.notLearnAnswer.daanA' value="A" />
											<label ng-attr-for="{{'a'+i.Id+i.Type}}">A</label>
										</li>
										<li>
											<input type="checkbox" ng-attr-name="{{$index}}" ng-attr-id="{{'b'+i.Id+i.Type}}" ng-true-value="true" ng-false-value="false" ng-model='i.notLearnAnswer.daanB' value="B" />
											<label ng-attr-for="{{'b'+i.Id+i.Type}}">B</label>
										</li>
										<li>
											<input type="checkbox" ng-attr-name="{{$index}}" ng-attr-id="{{'c'+i.Id+i.Type}}" ng-true-value="true" ng-false-value="false" ng-model='i.notLearnAnswer.daanC' value="C" />
											<label ng-attr-for="{{'c'+i.Id+i.Type}}">C</label>
										</li>
										<li>
											<input type="checkbox" ng-attr-name="{{$index}}" ng-attr-id="{{'d'+i.Id+i.Type}}" ng-true-value="true" ng-false-value="false" ng-model='i.notLearnAnswer.daanD' value="D" />
											<label ng-attr-for="{{'d'+i.Id+i.Type}}">D</label>
										</li>
									</ul>
								</div>
								<span class="linesRight fr" ng-click='lookAnswerEcho(i.Type,$index,i.AnswerShow)' ng-class='{"active":i.AnswerShow}' ng-if="variablePacket.state=='learn'">
									查看答案及解析  <i class="iconfont icon-arrow_you"></i>
								</span>
							</div>
							<ul class="zyx_Bottom scale-fade" ng-if='i.AnswerShow'>
								<li class="Answer">
									<strong>答案</strong>
									<div>
										<span ng-if='i.Answer.daanA'>A</span>
										<span ng-if='i.Answer.daanB'>B</span>
										<span ng-if='i.Answer.daanC'>C</span>
										<span ng-if='i.Answer.daanD'>D</span>
									</div>
								</li>
								<li class="Analysis">
									<strong>解析</strong>
									<div  ng-bind='i.Analysis'></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!--判断题-->
				<div class="zyx_Judge" ng-attr-id="{{'2'}}">
					<p class="zyx_topicHead">三、判断题</p>
					<div class="zyx_topic" ng-repeat='i in echoQuestion.judge'>
						<!--展示-->
						<div class="zyx_LookShow toggle">
							<div class="zyx_Top clearfix">
								<div class="tit clearfix">
									<h5 class="fl"><b ng-bind='$index+1'>1</b>判断题</h5>
								</div>
								<div class="queTit" ng-bind='i.queTit'></div>
								<!--已学习-->
								<div class="fl zyx_myAnswer" ng-if="variablePacket.state=='learn'">
									<em>我的答案:</em>
									<span class="zyx_JudgeBg" ng-bind='i.myAnswer'></span>
									<i class="iconfont icon-dui"ng-if='i.icon=="correct"'></i>
									<i class="iconfont icon-cuo" ng-if='i.icon=="error"'></i>
									<i class="iconfont icon-bandui" ng-if='i.icon=="half"'></i>
								</div>
								<!--未学习-->
								<div class="fl zyx_myAnswer zyx_notLearn" ng-if="variablePacket.state=='notLearn'">
									<em>我的答案:</em>
									<ul class="zyx_option JudgeBg  clearfix">
										<li>
											<input type="radio" ng-attr-name="{{$index}}" ng-attr-id="{{'a'+i.Id+i.Type}}" ng-model='i.notLearnAnswer' value="正确" />
											<label ng-attr-for="{{'a'+i.Id+i.Type}}">正确</label>
										</li>
										<li>
											<input type="radio" ng-attr-name="{{$index}}" ng-attr-id="{{'b'+i.Id+i.Type}}" ng-model='i.notLearnAnswer' value="错误" />
											<label ng-attr-for="{{'b'+i.Id+i.Type}}">错误</label>
										</li>
									</ul>
								</div>
								<span class="linesRight fr" ng-click='lookAnswerEcho(i.Type,$index,i.AnswerShow)' ng-class='{"active":i.AnswerShow}' ng-if="variablePacket.state=='learn'">
									查看答案及解析  <i class="iconfont icon-arrow_you"></i>
								</span>
							</div>
							<ul class="zyx_Bottom scale-fade" ng-if='i.AnswerShow'>
								<li class="Answer">
									<strong>答案</strong>
									<div ng-bind='i.Answer'></div>
								</li>
								<li class="Analysis">
									<strong>解析</strong>
									<div  ng-bind='i.Analysis'></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!--填空题-->
				<div class="zyx_FillIn"  ng-attr-id="{{'3'}}">
					<p class="zyx_topicHead">四、填空题</p>
					<div class="zyx_topic" ng-repeat='i in echoQuestion.fillIn'>
						<!--展示-->
						<div class="zyx_LookShow toggle">
							<div class="zyx_Top clearfix">
								<div class="tit clearfix">
									<h5 class="fl"><b ng-bind='$index+1'>1</b>填空题</h5>
								</div>
								<div class="queTit" ng-bind='i.queTit'></div>
								<!--已学习-->
								<div class="fl zyx_myAnswer" ng-if="variablePacket.state=='learn'">
									<em>我的答案:</em>
									<div class="zyx_OtherLine" ng-repeat='z in i.myAnswer'>
										<i class="num" ng-bind='"("+($index+1)+")"'></i>
										<span class="zyx_OtherBg" ng-bind='z.daan'></span>
										<i class="iconfont icon-dui"ng-if='z.icon=="correct"'></i>
										<i class="iconfont icon-cuo" ng-if='z.icon=="error"'></i>
										<i class="iconfont icon-bandui" ng-if='z.icon=="half"'></i>
									</div>
								</div>
								<!--未学习-->
								<div class="fl zyx_myAnswer zyx_notLearn" ng-if="variablePacket.state=='notLearn'">
									<em>我的答案:</em>
									<div class="zyx_setHeight">
										<div class="ueditor" ng-model='i.notLearnAnswer'></div>
									</div>
								</div>
								<span class="linesRight fr" ng-click='lookAnswerEcho(i.Type,$index,i.AnswerShow)' ng-class='{"active":i.AnswerShow}' ng-if="variablePacket.state=='learn'">
									查看答案及解析  <i class="iconfont icon-arrow_you"></i>
								</span>
							</div>
							<ul class="zyx_Bottom scale-fade" ng-if='i.AnswerShow'>
								<li class="Answer">
									<strong>答案</strong>
									<div ng-repeat='s in fillInArr[i.Id]  track by $index'>
										<span ng-bind='"("+($index+1)+")"'></span>
										<span ng-bind='s'></span>
									</div>
								</li>
								<li class="Analysis">
									<strong>解析</strong>
									<div  ng-bind='i.Analysis'></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!--材料题-->
				<div class="zyx_Material" ng-attr-id="{{'4'}}">
					<p class="zyx_topicHead">五、材料题</p>
					<div class="zyx_topic" ng-repeat='i in echoQuestion.material'>
						<!--展示-->
						<div class="zyx_LookShow toggle">
							<div class="zyx_Top clearfix">
								<div class="tit clearfix">
									<h5 class="fl"><b ng-bind='$index+1'>1</b>材料题</h5>
								</div>
								<div class="queTit" ng-bind='i.queTit'></div>
								<!--已学习-->
								<div class="fl zyx_myAnswer" ng-if="variablePacket.state=='learn'">
									<em>我的答案:</em>
									<div class="zyx_OtherLine" ng-repeat='z in i.myAnswer'>
										<i class="num" ng-bind='"("+($index+1)+")"'></i>
										<span class="zyx_OtherBg" ng-bind='z.daan'></span>
										<i class="iconfont icon-dui"ng-if='z.icon=="correct"'></i>
										<i class="iconfont icon-cuo" ng-if='z.icon=="error"'></i>
										<i class="iconfont icon-bandui" ng-if='z.icon=="half"'></i>
									</div>
								</div>
								<!--未学习-->
								<div class="fl zyx_myAnswer zyx_notLearn" ng-if="variablePacket.state=='notLearn'">
									<em>我的答案:</em>
									<div class="zyx_setHeight">
										<div class="ueditor" ng-model='i.notLearnAnswer'></div>
									</div>
								</div>
								<span class="linesRight fr" ng-click='lookAnswerEcho(i.Type,$index,i.AnswerShow)' ng-class='{"active":i.AnswerShow}' ng-if="variablePacket.state=='learn'">
									查看答案及解析  <i class="iconfont icon-arrow_you"></i>
								</span>
							</div>
							<ul class="zyx_Bottom scale-fade" ng-if='i.AnswerShow'>
								<li class="Answer">
									<strong>答案</strong>
									<div ng-repeat='s in materialArr[i.Id]  track by $index'>
										<span ng-bind='"("+($index+1)+")"'></span>
										<span ng-bind='s'></span>
									</div>
								</li>
								<li class="Analysis">
									<strong>解析</strong>
									<div  ng-bind='i.Analysis'></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!--简答题-->
				<div class="zyx_BriefAnswer"  ng-attr-id="{{'5'}}">
					<p class="zyx_topicHead">六、简单题</p>
					<div class="zyx_topic" ng-repeat='i in echoQuestion.briefAnswer'>
						<!--展示-->
						<div class="zyx_LookShow toggle">
							<div class="zyx_Top clearfix">
								<div class="tit clearfix">
									<h5 class="fl"><b ng-bind='$index+1'>1</b>简答题</h5>
								</div>
								<div class="queTit" ng-bind='i.queTit'></div>
								<!--已学习-->
								<div class="fl zyx_myAnswer" ng-if="variablePacket.state=='learn'">
									<em>我的答案:</em>
									<div class="zyx_OtherLine" ng-repeat='z in i.myAnswer'>
										<i class="num" ng-bind='"("+($index+1)+")"'></i>
										<span class="zyx_OtherBg" ng-bind='z.daan'></span>
										<i class="iconfont icon-dui"ng-if='z.icon=="correct"'></i>
										<i class="iconfont icon-cuo" ng-if='z.icon=="error"'></i>
										<i class="iconfont icon-bandui" ng-if='z.icon=="half"'></i>
									</div>
								</div>
								<!--未学习-->
								<div class="fl zyx_myAnswer zyx_notLearn" ng-if="variablePacket.state=='notLearn'">
									<em>我的答案:</em>
									<div class="zyx_setHeight">
										<div class="ueditor" ng-model='i.notLearnAnswer'></div>
									</div>
								</div>
								<span class="linesRight fr" ng-click='lookAnswerEcho(i.Type,$index,i.AnswerShow)' ng-class='{"active":i.AnswerShow}' ng-if="variablePacket.state=='learn'">
									查看答案及解析  <i class="iconfont icon-arrow_you"></i>
								</span>
							</div>
							<ul class="zyx_Bottom scale-fade" ng-if='i.AnswerShow'>
								<li class="Answer">
									<strong>答案</strong>
									<div ng-repeat='s in briefAnswerArr[i.Id]  track by $index'>
										<span ng-bind='"("+($index+1)+")"'></span>
										<span ng-bind='s'></span>
									</div>
								</li>
								<li class="Analysis">
									<strong>解析</strong>
									<div  ng-bind='i.Analysis'></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!--完形填空-->
				<div class="zyx_ClozeCloze" ng-attr-id="{{'6'}}">
					<p class="zyx_topicHead">七、完形填空</p>
					<div class="zyx_topic" ng-repeat='i in echoQuestion.clozeCloze'>
						<!--展示-->
					    <div class="zyx_LookShow toggle">
							<div class="zyx_Top clearfix">
								<div class="tit clearfix">
									<h5 class="fl"><b ng-bind='$index+1'>1</b>完形填空</h5>
								</div>
								<div class="queTit">
									<div  ng-bind='i.queTit'></div>
									<p ng-repeat = 's in i.queDaan' ng-bind='s.daan'></p>
								</div>
								<!--已学习-->
								<div class="fl zyx_myAnswer" ng-if="variablePacket.state=='learn'">
									<em>我的答案:</em>
									<div class="zyx_OtherLine" ng-repeat='z in i.myAnswer'>
										<i class="num" ng-bind='"("+($index+1)+")"'></i>
										<span class="zyx_SingleBg" ng-bind='z.daan'></span>
										<i class="iconfont icon-dui"ng-if='z.icon=="correct"'></i>
										<i class="iconfont icon-cuo" ng-if='z.icon=="error"'></i>
										<i class="iconfont icon-bandui" ng-if='z.icon=="half"'></i>
									</div>
								</div>
								<!--未学习-->
								<div class="fl zyx_myAnswer zyx_notLearn" ng-if="variablePacket.state=='notLearn'">
									<em>答案:</em>
									<div class="zyx_optionLine clearfix" ng-repeat="z in i.notLearnAnswer">
										<i class="fl" ng-bind='"("+($index+1)+")"'></i>
										<ul class="fl zyx_option clearfix">
											<li>
												<input type="radio" ng-attr-name="{{'name'+i.Id+$index+i.Type}}" ng-attr-id="{{'a'+i.Id+$index+i.Type}}" ng-model="z.daan" value="A" />
												<label ng-attr-for="{{'a'+i.Id+$index+i.Type}}">A</label>
											</li>
											<li>
												<input type="radio" ng-attr-name="{{'name'+i.Id+$index+i.Type}}" ng-attr-id="{{'b'+i.Id+$index+i.Type}}" ng-model="z.daan" value="B" />
												<label ng-attr-for="{{'b'+i.Id+$index+i.Type}}">B</label>
											</li>
											<li>
												<input type="radio" ng-attr-name="{{'name'+i.Id+$index+i.Type}}" ng-attr-id="{{'c'+i.Id+$index+i.Type}}" ng-model="z.daan" value="C" />
												<label ng-attr-for="{{'c'+i.Id+$index+i.Type}}">C</label>
											</li>
											<li>
												<input type="radio" ng-attr-name="{{'name'+i.Id+$index+i.Type}}" ng-attr-id="{{'d'+i.Id+$index+i.Type}}" ng-model="z.daan" value="D" />
												<label ng-attr-for="{{'d'+i.Id+$index+i.Type}}">D</label>
											</li>
										</ul>
									</div>
								</div>
								<span class="linesRight fr" ng-click='lookAnswerEcho(i.Type,$index,i.AnswerShow)' ng-class='{"active":i.AnswerShow}' ng-if="variablePacket.state=='learn'">
									查看答案及解析  <i class="iconfont icon-arrow_you"></i>
								</span>
							</div>
							<ul class="zyx_Bottom scale-fade" ng-if='i.AnswerShow'>
								<li class="Answer">
									<strong>答案</strong>
									<div ng-repeat='s in i.Answer'>
										<span ng-bind='"("+($index+1)+")"'></span>
										<span ng-bind='s.daan'></span>
									</div>
								</li>
								<li class="Analysis">
									<strong>解析</strong>
									<div  ng-bind='i.Analysis'></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!--阅读理解-->
				<div class="zyx_Reading"  ng-attr-id="{{'7'}}">
					<p class="zyx_topicHead">八、阅读理解</p>
					<div class="zyx_topic" ng-repeat='i in echoQuestion.reading'>
						<!--展示-->
					    <div class="zyx_LookShow toggle">
							<div class="zyx_Top clearfix">
								<div class="tit clearfix">
									<h5 class="fl"><b ng-bind='$index+1'>1</b>阅读理解</h5>
								</div>
								<div class="queTit" ng-bind='i.queTit'></div>
								<div class="zyx_fiveSmallTopic">
									<div class="zyx_fiveSmallTopicLine" ng-repeat='z in i.myAnswer'>
										<span ng-bind='"("+($index+1)+")"'></span><span ng-bind='z.tit'></span>
									</div>
								</div>
								<!--已学习-->
								<div class="fl zyx_myAnswer" ng-if="variablePacket.state=='learn'">
									<em>我的答案:</em>
									<div class="zyx_OtherLine" ng-repeat='z in i.myAnswer'>
										<i class="num" ng-bind='"("+($index+1)+")"'></i>
										<b  ng-bind='z.tit'></b>
										<div  style="padding-left: 20px;">
											<!--选择题-->
											<span class="zyx_SingleBg" ng-if='z.daan' ng-bind='z.daan'></span>
											<!--简答题-->
											<span  class="zyx_OtherBg"  ng-if='z.testDaan' ng-bind='z.testDaan'></span>
											<i class="iconfont icon-dui" ng-if='z.icon=="correct"'></i>
											<i class="iconfont icon-cuo" ng-if='z.icon=="error"'></i>
											<i class="iconfont icon-bandui" ng-if='z.icon=="half"'></i>
										</div>
									</div>
									
								</div>
								<!--未学习-->
								<div class="fl zyx_myAnswer zyx_notLearn" ng-if="variablePacket.state=='notLearn'">
									<em>答案:</em>
									<div class="zyx_fiveSmallTopic_AnswerLine clearfix" ng-repeat='z in i.notLearnAnswer'>
										<b class="fl num" ng-bind='"("+($index+1)+")"'></b>
										<div  ng-bind='z.tit'></div>
										<ul class="zyx_option clearfix" ng-if='z.daanShow'>
											<li>
												<input type="radio" ng-attr-name="{{'name'+i.Id+$index}}" ng-attr-id="{{'a'+i.Id+$index}}" ng-model="z.daan" value="A" />
												<label ng-attr-for="{{'a'+i.Id+$index}}">A</label>
											</li>
											<li>
												<input type="radio" ng-attr-name="{{'name'+i.Id+$index}}" ng-attr-id="{{'b'+i.Id+$index}}" ng-model="z.daan" value="B" />
												<label ng-attr-for="{{'b'+i.Id+$index}}">B</label>
											</li>
											<li>
												<input type="radio" ng-attr-name="{{'name'+i.Id+$index}}" ng-attr-id="{{'c'+i.Id+$index}}" ng-model="z.daan" value="C" />
												<label ng-attr-for="{{'c'+i.Id+$index}}">C</label>
											</li>
											<li>
												<input type="radio" ng-attr-name="{{'name'+i.Id+$index}}" ng-attr-id="{{'d'+i.Id+$index}}" ng-model="z.daan" value="D" />
												<label ng-attr-for="{{'d'+i.Id+$index}}">D</label>
											</li>
										</ul>
										<div class="zyx_setHeight" ng-if='z.editShow'>
											<div class="ueditor" ng-model='z.edit'></div>
										</div>
									</div>
								</div>
								<span class="linesRight fr" ng-click='lookAnswerEcho(i.Type,$index,i.AnswerShow)' ng-class='{"active":i.AnswerShow}' ng-if="variablePacket.state=='learn'">
									查看答案及解析  <i class="iconfont icon-arrow_you"></i>
								</span>
							</div>
							<ul class="zyx_Bottom scale-fade" ng-if='i.AnswerShow'>
								<li class="Answer">
									<strong>答案</strong>
									<div ng-repeat='z in i.Answer'>
										<span ng-bind='"("+($index+1)+")"'></span>
										<span ng-if='z.daan' ng-bind='z.daan'></span>
										<span ng-if='z.testDaan' ng-bind='z.testDaan'></span>
									</div>
								</li>
								<li class="Analysis">
									<strong>解析</strong>
									<div  ng-bind='i.Analysis'></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		
			<!--提交按钮-->
			<button class="zyx_refer" ng-if="variablePacket.state=='notLearn'"  ng-click='refer()'>提交</button>
		</div>
		
	</div>

	
	<!--确认框及提示框-->
	<prompt-box variable-packet="variablePacket" prompt-show="promptShow" wran-show="wranShow" del-ok="delOk" mask-zindex='variablePacket.maskZindex'></prompt-box>
</div>



