<div>
	<div class="zy_bg zy_activity_list_bg">
		<div class="zy_main_con zy_activity_list zy_share_list">
			<div class="zy_activity_box">
				<ul>
					<li class="clearfix" ng-repeat="myShare in myShareList">
						<em ng-class="myShare.class" ng-bind="myShare.type">未开始</em>
						<div class="zy_btn_group">
							<p>
								<span class="zy_issued" ng-show="myShare.issued"><img src="./img/to_lssued.png"/>下发</span>
								<span class="zy_update" ng-show="myShare.update"><img src="./img/to_update.png"/>更新</span>
								<span class="zy_delete" ng-show="myShare.delete" ng-click="deleteBtn($event,myShare.id)"><img src="./img/to_delete.png"/>删除</span>
							</p>
						</div>
						<div class="zy_l_img fl" ui-sref="myShareDetail({activityId: '{{myShare.id}}'})">
							<img width="284px" height="151px" ng-src="{{myShare.src}}"/>
						</div>
						<div class="zy_r_cont fr">
							<h4 ui-sref="myShareDetail({activityId: '{{myShare.id}}'})" ng-bind="myShare.title">爱心字典行动招募志愿者</h4>
							<p>
								<span>活动日期:</span>
								<i ng-bind="myShare.time">2017-06-26~2017-04-30</i>
							</p>
							<div ng-bind="myShare.cont">
								“爱心灵沟通桥梁，通过“结对”形式为学生的全面发展提供力所能及的帮助。
							</div>
						</div>
					</li>
				</ul>
				
			</div>
		</div>
	</div>
</div>



<!--确认弹层-->
<div class="gy_del_down zy_popup" ng-show="deleteActivity.popup">
    <div class="gy_hide"></div>
    <div class="gy_con"><!--弹框具体宽高自定义-->
    	<p class="zy_sentence">确认删除此项活动吗？</p>
    	<div class="zy_btn_box">
    		<button class="zy_cancel" ng-click="deleteActivity.popup = false">取消</button>
    		<button class="zy_sure" ng-click="deleteSureBtn()">确认</button>
    	</div>
	</div>
</div>

<!--提示弹层-->
<div class="gy_del_down zy_popup" ng-show="deleteActivity.tip">
    <div class="gy_hide"></div>
    <div class="gy_con"><!--弹框具体宽高自定义-->
		<p class="zy_prompt">
			<img src="./img/filed.png" ng-src="./img/{{deleteActivity.tipSrc}}.png" />
			<span ng-bind="deleteActivity.tipWord">提交成功</span>
		</p>
	
    </div>
</div>
<!--<z-footer></z-footer>-->