<div>
	
	<div class="zy_bg">
		<div class="zy_main_con zy_main_con_none">
			<div class="zy_activity_detail clearfix">
				<p class="fl">活动更新</p>
				<span class="fr" ui-sref="wrap.list.activityList({token:token})">返回</span>
			</div>
		</div>
	</div>
	
	<div class="zy_bg zy_new_activity_bg zy_update_activity">
		<div class="zy_main_con zy_simple_bg zy_new_activity">
			<div class="zy_new_activity_detail">
				<!--<div class="zy_two_line clearfix">
					<div class="zy_a_strip fl">
						<span>活动名称：</span>
						<input type="text" placeholder="请输入活动名称" />
					</div>
					<div class="zy_a_strip fr">
						<span>结束时间：</span>
						<input zjy-laydate type="text" id="id" ng-model="activityOverTime" placeholder="请输入活动结束时间" />
					</div>
				</div>-->
				
				<div class="zy_a_strip">
					<span>活动名称</span>
					<input type="text" placeholder="请输入活动名称" ng-model="activity.activityName" maxlength="25"/>
				</div>
				<div class="zy_a_strip">
					<span>结束时间</span>
					<input zjy-laydate type="text" id="id"  min-date="{{mindataTime}}" placeholder="请输入活动结束时间"  ng-model="activity.activityEnddate"/>
				</div>
				<div class="zy_a_strip zy_activity_type">
					<span>活动类型</span>
					<ul class="clearfix">
						<li class="fl" ng-class="{'active' : activity.activityType == a.id}" ng-click="changeType($index)" ng-repeat="a in activityType" ng-bind="a.name"></li>
					</ul>
				</div>
				<div class="zy_a_strip">
					<span>活动要求</span>
					<textarea name="" rows="" cols="" maxlength="255" placeholder="请输入活动要求" ng-model="activity.activityDeman"></textarea>
				</div>
				<div class="zy_a_strip">
					<span>上传附件<i class="zy_tip_grey">上传附件(注意:支持jpg、png图片格式;)</i></span>
					<div class="zy_activity_file">
						<em>选择上传文件</em>
						<input type="file" name="" id="file" value="" onchange="angular.element(this).scope().upload()"  ng-model="activity.activityFile"/>
					</div>
				  <dl class="clearfix" ng-show="upIsShowImg">
					 <dt class="fl">已上传文件：</dt>
					 <dd ng-bind="updateimgName"></dd>
				 </dl>
				</div>
				<!--<div class="zy_a_strip clearfix">
					<ul class="clearfix">
						<li>就开始对方即可少脑袋</li>
						<li>就开始对方即可少脑袋</li>
						<li>就开始对方即可少脑袋</li>
					</ul>
				</div>-->
				<div class="zy_a_strip clearfix">
					<button class="fr" ng-click="subBtn()">提交</button>
				</div>
				
			</div>
		</div>
	</div>
</div>

<!--确认弹层-->
<div class="gy_del_down zy_popup" ng-show="submitActivity.popup">
    <div class="gy_hide"></div>
    <div class="gy_con"><!--弹框具体宽高自定义-->
    	<p class="zy_sentence">确定无误并提交吗？</p>
    	<div class="zy_btn_box">
    		<button class="zy_cancel" ng-click="submitActivity.popup = false">取消</button>
    		<button class="zy_sure" ng-click="subSureBtn()">确认</button>
    	</div>
	</div>
</div>

<!--提示弹层-->
<div class="gy_del_down zy_popup" ng-show="submitActivity.tip">
    <div class="gy_hide"></div>
    <div class="gy_con"><!--弹框具体宽高自定义-->
		<p class="zy_prompt">
			<img src="./img/filed.png" ng-src="./img/{{submitActivity.tipSrc}}.png" />
			<span ng-bind="submitActivity.tipWord">提交成功</span>
		</p>
	
    </div>
</div>

<!--<z-footer></z-footer>-->