<div class="mlh_content">
	<div class="guide clearfix">
		<!--科目选择  start-->
		<!--<div class="guide-left">
			<div class="subjects"><span ng-bind="variablePacket.subjectName"></span><i class="iconfont icon-arrow-up"></i></div>
			<div class="subject-list">
				<div class="sanjiao"><i></i></div>
				<ul class="guide-list">
					<li class="" ng-repeat="name in variablePacket.subjects" ng-class={'active':$index==variablePacket.subjectIndex} ng-bind="name.name" ng-click="getName($index,name)"></li>
				</ul>
			</div>
		</div>-->
		<!--科目选择  end-->
		<!--布置作业  start-->
		<div class="guide-right" ui-sref="secondNav.taskContent({state:'new'})">
			布置任务
		</div>
		<!--布置作业  end-->
	</div>
</div>
<div class="mlh_content">
	<!--班级选择 start-->
	<div class="mlh_bg">
		<div class="title class">
			<span>班级：</span>
			<ul>
				<li ng-repeat="class in variablePacket.selectClass" 
					ng-bind="class.name"
					ng-click="selectClassTab($index,class.classId, class.name)"
					ng-class="{'active':variablePacket.classIndex==$index}"></li>
			</ul>
		</div>
		<div class="title class state">
			<span>状态：</span>
			<ul>
				<li ng-repeat="state in variablePacket.selectState" 
					ng-bind="state.name"
					ng-click="selectStateTab(state.state,$index)"
					ng-class="{'active':variablePacket.stateIndex==$index}"></li>
			</ul>
		</div>
	</div>
	<!--班级选择 end-->
	<!--内容列表部分 start-->
	<div class="mlh_bg mlh_top">
		<!--每个列表项 start-->
		<div class="guide-item clearfix" 
			ng-repeat="value in classSummary.sevenClassOne"
			ng-if="value.state==variablePacket.state">
			<div class="left">
				<div class="item-1">
					<span ng-bind="value.title" ng-click="addParams(value.id, '{{variablePacket.state}}', 'exercises')"></span>
					<em class="ongoing" ng-if="variablePacket.isOngoing">进行中</em>
					<em class="start" ng-if="variablePacket.isStart">未开始</em>
					<em class="end" ng-if="variablePacket.isEnd">已结束</em>
				</div>
				<div class="item-2">
					作答时间:<em ng-bind="value.startTime"></em>--<em ng-bind="value.endTime"></em>
				</div>
				<div class="item-3 clearfix" ng-if="!variablePacket.isStart">
					<span>学习进度:</span>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60"
							 aria-valuemin="0" aria-valuemax="100" ng-style="{width:{{value.complete}}/{{value.totalNum}}*100+'%'}">
						</div>
					</div>
					<span><em ng-bind="value.complete"></em>/<em ng-bind="value.totalNum"></em></span>
				</div>
			</div>
			<div class="right">
				<div class="copy" ng-click="puttask($index,value.title,value.id)" ><i class="iconfont icon-fuzhi"></i>复制</div>
				<div class="del" ng-click="deleteData($index,'sevenClassOne',value.title,value.id)"><i class="iconfont icon-shanchu"></i>删除</div>
			</div>
		</div>
		<!--每个列表项 end-->
		<!--确认框及提示框-->
		<prompt-box variable-packet="variablePacket" prompt-show="promptShow" wran-show="wranShow" del-ok="delOk"></prompt-box>
		<div class="loading" ng-click="deleteLb()" ng-if="variablePacket.jzgd"><i class="iconfont icon-jiazai"></i>加载更多...</div>
	</div>
	<!--内容列表部分 end-->
</div>