<style type="text/css">
	body {
		background: #f1f2f3;
	}
</style>

<system nav="navShowDet"></system>

<div class="wx_wrap">
	<div class="wx_daohang">
		<div class="wx_biaoti wx_fl">学科管理</div>
	</div>
	<div class="wx_xuekemaincont">
		<div class="wx_xuekectrl">
			<div class="wx_selectarea">
				<select name="" class="wx_sle">
					<option value="">选择地区及学校</option>
				</select>
				<button class="wx_surebtn">确定</button>
			</div>
		</div>
		<div class="wx_contmain" style="text-align:center;min-height: 300px;">
			<img src="./img/searchinfo.png" alt="" style="margin-top:65px;" />
		</div>
	</div>
	<!--	学科分类	-->
	<div class="zy_centerTit2">
        <!--	循环小学、初中、高中	-->
			<ul class="wx_gradetype clearfix wx_fl">
				<li ng-repeat="item in state.levelList"  ng-class="{'active':state.levelIndex==$index}" ng-bind="item.name" ng-click="changeLevel($index,item)"></li>
			</ul>
			<span class="show_school wx_fr" ng-click="showschoolaction()" style="font-size:16px;">查看学校</span>
		</div>
	<div class="wx_xueketype">
		<div class="wx_settit">
			<span class="wx_fl wx_bold"><span class="wx_weilei"></span>学科分类</span>
		</div>
		<div class="zy_switchCon">
			<div class="wx_nianji wx_bd0" ng-repeat="nianji in xuekelists">

				<p ng-bind="nianji.xktype" class="wx_fl wx_mr20"></p>
				<ul style="width: auto;">
					<li ng-mouseleave="banjiguanli(!banji)" ng-mouseenter="banjiguanli(banji)" ng-repeat="banji in nianji.xuekelist">
						<div ng-click="bianjiname($event,banji.id)" ng-bind="banji.name" style="padding: 0 8px;"></div>
						<i ng-show="delbanji==banji" ng-click="deltc($event,banji.id)"></i>
					</li>
				</ul>
				<span ng-click="tjbanji($event)" class="add">+</span>
				<span class="wx_none wx_ycsrk"><input type="text"></span>
				<span ng-click="baocun($event,nianji.value)" class="wx_baocun wx_none">确认</span>
				<span ng-click="fangqi($event)" class="wx_fangqi wx_none">取消</span>
				<div class="wx_clear"></div>
			</div>
		</div>
	</div>
	<!--	设置各年级学科	-->
	<div class="wx_setsubject">
		<div class="wx_settit">
			<span class="wx_fl wx_bold"><span class="wx_weilei"></span>设置各年级学科</span>
			<button class="wx_fr wx_setxkbtn"><img src="./img/daoru.png" alt="" style="margin-right:10px;vertical-align: middle;" />导入任课关系</button>
		</div>
		<div class="wx_flex">
			<div class="wx_editecon" ng-repeat="i in schoolbranch">
				<p>{{i.nianji}} <i class="wx_xkicon-bianji" ng-click="bianjiroleclick(i.gradId)"></i> </p>
				<ul class="wx_xueke_ul">
					<li ng-repeat="e in i.xueke">{{e.name}}</li>
				</ul>
			</div>
		</div>
		
	</div>
</div>

<z-footer></z-footer>

<!--确认删除弹窗-->
<div class="gy_del_down zy_addClassBox" style="display:none">
	<div class="gy_hide"></div>
	<div class="gy_con" style="width:414px;height:185px;">
		<div class="zy_alertBoxCon zy_addClassDetail">
			<div class="zy_selectGroup clearfix">
				<p style="font-size: 18px;font-family: '微软雅黑';margin-bottom: 20px;">是否删除该学科？</p>
			</div>
			<div class="zy_btnGroup">
				<input type="button" class="zy_cancel zy_selectSubCancel" ng-click="caldel()" value="取消" ng-click="subBox=!subBox" style="width:178px;border:none;border-radius: none!important;margin-right: 10px;" />
				<input type="button" class="zy_sure zy_selectSubSure" ng-click="suredel()" value="确认" style="width:178px;border-radius: none!important;" />
			</div>
		</div>
	</div>
</div>
<!--添加班级弹窗-->
<div class="wx_addClass" ng-show="addxueke">
	<div class="wx_gy_hide"></div>
	<div class="wx_addclass_con">
		<p class="zy_boxTit"> <span style="font-size:16px;font-weight:bold">添加学科</span> (点击选择，再次点击取消选择) <i class="zy_close zy_SubjCloseBtn" ng-click="addxueke=!addxueke"></i> </p>
		<div class="wx_addclassul">

			<button ng-repeat="c in classes" ng-class="{active:active,yicunzai:c.rept==1}" ng-click="active=!active" ng-disabled="c.rept==1" data-cid="{{c.id}}">
            	{{c.name}}
            </button>
		</div>
		<div class="zy_btnGroup">
			<input type="button" class="zy_sure zy_selectSubSure" ng-click="sureadd()" value="确认" />
		</div>
	</div>
</div>

<!--警告弹框-->
<div class="gy_del_down zy_warningBox" style="display:none">
	<div class="gy_hide"></div>
	<div class="gy_con" style="width: 420px;height: 208px;text-align: center;line-height: 208px;">
		<p> <img src="./img/chenggong.png" alt="" style="height:46px;vertical-align: middle;" /> <i>删除成功</i> </p>
	</div>
</div>
<div class="gy_del_down wx_erro_tc" style="display:none">
	<div class="gy_hide"></div>
	<div class="gy_con" style="width:400px;height:230px;">
		<p style="width:250px;text-align:center;margin:100px auto;font-size:18px;"> <img src="./img/wonde_big.png" alt="" /> <span></span> </p>
	</div>
</div>