<div class="wx_right_cont fl">
	<!--右侧内容部分切换-->
	<div class="wx_up_nav">
		<ul class="wx_upnav_ul">
			<li ui-sref="secondNav.leftTree.userStatistics" class="wx_active">注册用户统计</li>
			<li ui-sref="secondNav.leftTree.userAnalysis">用户行为分析</li>
		</ul>
	</div>
	<!--面包屑导航-->
	<div class="wx_bread_nav">
		<img src="./img/wx_bread_nav.png" class="wx_bread_icon">
		<span ng-click="breadNav(0)">全国</span>
		<span ng-if="variablePacket.provincenav" ng-click="breadNav(1)" ng-bind="variablePacket.provincename"></span>
		<span ng-if="variablePacket.citynav" ng-click="breadNav(2)" ng-bind="variablePacket.cityname"></span>
		<span ng-if="variablePacket.countynav" ng-click="breadNav(3)" ng-bind="variablePacket.countyname"></span>
		<span ng-if="variablePacket.schoolnav" ng-click="breadNav(4)" ng-bind="variablePacket.schoolname"></span>
	</div>
	<!--用户人数统计-->
	<div class="wx_usernum_statistics clearfix">
		<!--所有人数统计-->
		<div class="wx_all_user fl">
			<img class="wx_position_img" src="./img/wx_userstatic_all.png" />
			<div class="wx_right_detail">
				<p>注册总人数</p>
				<p class="wx_dacuzi" ng-bind="variablePacket.allusernum"></p>
				<p class="wx_lanzi">活跃率{{variablePacket.activeall}}</p>
			</div>
		</div>
		<!--用户类型人数统计-->
		<div class="usertype_statics fr">
			<!--教师人数-->
			<div class="wx_teach_num wx_num_user fl">
				<img class="wx_position_img" src="./img/wx_teache_num2.png" />
				<div class="wx_right_detail">
					<p>教师人数</p>
					<p class="wx_dacuzi" ng-bind="variablePacket.teachnum"></p>
					<p class="wx_lanzi">活跃率{{variablePacket.teachactive}}</p>
				</div>
			</div>
			<!--学生人数-->
			<div class="wx_student_num wx_num_user wx_fengexian fl">
				<img class="wx_position_img" src="./img/wx_student_num2.png" />
				<div class="wx_right_detail">
					<p>学生人数</p>
					<p class="wx_dacuzi" ng-bind="variablePacket.stunum"></p>
					<p class="wx_lanzi">活跃率{{variablePacket.stuactive}}</p>
				</div>
			</div>
			<!--家长人数-->
			<div class="wx_parent_num wx_num_user fl">
				<img class="wx_position_img" src="./img/wx_parent_num2.png" />
				<div class="wx_right_detail">
					<p>家长人数</p>
					<p class="wx_dacuzi" ng-bind="variablePacket.parnum"></p>
					<p class="wx_lanzi">活跃率{{variablePacket.paractive}}</p>
				</div>
			</div>
		</div>
	</div>
	<!--平台用户活跃趋势图 折线图-->
	<div class="wx_echart_useractive">
		<p class="wx_echart_tit">平台用户活跃趋势图</p>
		<div id="chart-list" class="tabcon" data-name="1">
			<div class="chart-column-line-global">
				<!--数据表-->
				<div class="chart_line_user charts-btb" style="width:922px;height:370px;margin: 0 auto;position: relative;"></div>
			</div>
		</div>
	</div>
	
	<!--平台用户注册率 / 周活跃率统计表-->
	<div class="wx_register_ratio" ng-if="variablePacket.schooldata">
		<p class="wx_echart_tit">平台用户注册率 / 周活跃率统计表</p>
		<div class="wx_type_btn">
			<button class="wx_btn_hui" ng-click="changestate(0)" ng-class="{'wx_active':variablePacket.state==0}">注册率统计表</button>
			<button class="wx_btn_hui" ng-click="changestate(1)" ng-class="{'wx_active':variablePacket.state==1}">周活跃率统计表</button>
		</div>
		<!--注册率统计表-->
		<div class="wx_userstatics_table">
			<table class="wx_table_userstic" ng-if="!variablePacket.showschooldata">
				<thead>
					<tr>
						<th rowspan="2" colspan="2">{{variablePacket.tablearea}}</th>
						<th colspan="2">学校(所)</th>
						<th colspan="2">教师(人)</th>
						<th colspan="2">学生(人)</th>
						<th colspan="2">家长(人)</th>
					</tr>
					<tr class="wx_widthth_pain">
						<th>数量</th>
						<th>{{variablePacket.twoclos}}</th>
						<th>数量</th>
						<th>{{variablePacket.twoclos}}</th>
						<th>数量</th>
						<th>{{variablePacket.twoclos}}</th>
						<th>数量</th>
						<th>{{variablePacket.twoclos}}</th>
					</tr>
				</thead>
				<tbody ng-repeat="teacher in variablePacket.tabledata.quyu">
					<tr ng-repeat="student in teacher.regcount track by $index">
						<td ng-if="$index ==0" rowspan={{teacher.regcount.length}} class="wx_lanzi wx_cursor" ng-click="findCityCount(teacher.id,teacher.name,variablePacket.tabledata.type)"> {{teacher.name}} </td>
						<td class="wx_width_td_pain" ng-if="$index ==0">{{variablePacket.rowone}}</td>
						<td class="wx_width_td_pain" ng-if="$index ==1">{{variablePacket.rowtwo}}</td>
						<td ng-if="$index ==0"><span ng-bind="student.schoolRegNum"></span></td>
						<td ng-if="$index ==1"><span ng-bind="student.schoolRealNum"></span></td>
						<td ng-if="$index ==0" rowspan={{teacher.regcount.length}}><span ng-bind="student.schoolRegRate"></span></td>
						<td ng-if="$index ==0"><span ng-bind="student.teaRegNum"></span></td>
						<td ng-if="$index ==1"><span ng-bind="student.teaRealNum"></span></td>
						<td ng-if="$index ==0" rowspan={{teacher.regcount.length}}><span ng-bind="student.teaRegRate"></span></td>
						<td ng-if="$index ==0"><span ng-bind="student.stuRegNum"></span></td>
						<td ng-if="$index ==1"><span ng-bind="student.stuRealNum"></span></td>
						<td ng-if="$index ==0" rowspan={{teacher.regcount.length}}><span ng-bind="student.stuRegRate"></span></td>
						<td ng-if="$index ==0"><span ng-bind="student.parRegNum"></span></td>
						<td ng-if="$index ==1"><span ng-bind="student.parRealNum"></span></td>
						<td ng-if="$index ==0" rowspan={{teacher.regcount.length}}><span ng-bind="student.parRegRate"></span></td>
					</tr>
				</tbody>
			</table>

			<table class="wx_table_userstic" ng-if="variablePacket.showschooldata">
				<thead>
					<tr>
						<th rowspan="2" colspan="2">{{variablePacket.tablearea}}</th>
						<th colspan="2">教师(人)</th>
						<th colspan="2">学生(人)</th>
						<th colspan="2">家长(人)</th>
					</tr>
					<tr class="wx_widthth_pain">
						<th>数量</th>
						<th>{{variablePacket.twoclos}}</th>
						<th>数量</th>
						<th>{{variablePacket.twoclos}}</th>
						<th>数量</th>
						<th>{{variablePacket.twoclos}}</th>
					</tr>
				</thead>
				<tbody ng-repeat="teacher in variablePacket.tabledata.quyu">
					<tr ng-repeat="student in teacher.regcount track by $index">
						<td ng-if="$index ==0" rowspan={{teacher.regcount.length}} class="wx_lanzi wx_cursor" ng-click="findCityCount(teacher.id,teacher.name,variablePacket.tabledata.type)"> {{teacher.name}} </td>
						<td class="wx_width_td_pain" ng-if="$index ==0">{{variablePacket.rowone}}</td>
						<td class="wx_width_td_pain" ng-if="$index ==1">{{variablePacket.rowtwo}}</td>
						<td ng-if="$index ==0"><span ng-bind="student.teaRegNum"></span></td>
						<td ng-if="$index ==1"><span ng-bind="student.teaRealNum"></span></td>
						<td ng-if="$index ==0" rowspan={{teacher.regcount.length}}><span ng-bind="student.teaRegRate"></span></td>
						<td ng-if="$index ==0"><span ng-bind="student.stuRegNum"></span></td>
						<td ng-if="$index ==1"><span ng-bind="student.stuRealNum"></span></td>
						<td ng-if="$index ==0" rowspan={{teacher.regcount.length}}><span ng-bind="student.stuRegRate"></span></td>
						<td ng-if="$index ==0"><span ng-bind="student.parRegNum"></span></td>
						<td ng-if="$index ==1"><span ng-bind="student.parRealNum"></span></td>
						<td ng-if="$index ==0" rowspan={{teacher.regcount.length}}><span ng-bind="student.parRegRate"></span></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	<!--学校用户注册资料-->
	<div class="wx_school_regtable" ng-if="!variablePacket.schooldata">
		<p class="wx_echart_tit">平台用户注册率 / 周活跃率统计表</p>
		<div class="wx_school_type_selct">
			<div class="wx_ul_height clearfix">
				<span class="fl">用户：</span>
				<ul>
					<li ng-class="{active:variablePacket.addusertype==r.id}" ng-repeat="r in variablePacket.userrange" ng-model="liname" ng-click="changeUseraddtype($index)">{{r.name}}</li>
				</ul>
			</div>
			<div class="wx_ul_height clearfix">
				<span class="fl">年级：</span>
				<ul>
					<li ng-class="{active:variablePacket.nianjiallselect}" ng-click="nianjiall()">全部</li>
					<li ng-class="{active:variablePacket.nianjitype==r.id}" ng-repeat="r in variablePacket.nianjirange" ng-model="liname" ng-click="changenianji($index,r.id)">{{r.name}}</li>
				</ul>
			</div>
			<div class="wx_ul_height clearfix" ng-if="variablePacket.subjecthide">
				<span class="fl">学科：</span>
				<ul>
					<li ng-class="{active:variablePacket.xuekeallselect}" ng-click="xuekeall()">全部</li>
					<li ng-class="{active:variablePacket.xueketype==r.id}" ng-repeat="r in variablePacket.xuekerange" ng-model="liname" ng-click="changexueke($index,r.id)">{{r.name}}</li>
				</ul>
			</div>
		</div>

		<div class="wx_schooltable_detail wx_mt20">
			<table class="wx_table_school_detail">
				<thead>
					<tr>
						<th>{{variablePacket.oneuserth}}</th>
						<th>{{variablePacket.twouserth}}</th>
						<th>{{variablePacket.threeuserth}}</th>
						<th>{{variablePacket.fouruserth}}</th>
						<th>{{variablePacket.fiveuserth}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in variablePacket.userregdata">
						<td>{{i.oneusertd}}</td>
						<td>{{i.twousertd}}</td>
						<td>{{i.threeusertd}}</td>
						<td>{{i.fourusertd}}</td>
						<td>{{i.fiveusertd}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>