
<div class="main_width">
	<div class="zy_return_situation">
		<div class="zy_student_main_wrap clearfix">
			<!--左：学生回传-->
			<div class="zy_student_pass_wrap fl">
				<!--资源回显-->
				<div class="zy_student_resource_main">
					<p><span ng-bind="variablePacket.stuVo.stuName">张燕霞</span>课堂上传</p>
					<div class="zy_student_test_list">
						<ul class="clearfix">
							<!--<li ui-sref="secondNav.studentReturnTest"  ng-repeat="i in variablePacket.stuRes">-->
								<!--<span class="fl">垃圾发电量卡萨解放路卡士大夫</span>-->
								<!--<i class="iconfont icon-icon_arrow_right fr"></i>-->
							<!--</li>-->

							<li ng-click="returnTestStu(i.jsonQuz)" ng-if="i.type== 'quz'" ng-repeat="i in variablePacket.stuRes">
								<label >
									<span class="fl" ng-bind="i.filename" title="{{i.filename}}">垃圾发电量卡萨解放路卡士大夫</span>
									<i class="iconfont icon-icon_arrow_right fr"></i>
								</label>
							</li>
						</ul>
					</div>
					<div class="zy_student_resource_list">
						<ul class="clearfix">
							<li ng-click="resourceBoxFn(i)"  ng-if="i.type!= 'quz'" ng-repeat="i in variablePacket.stuRes">
								<label>
									<img ng-src="{{i.thumbnaiImg}}"  onerror="this.onerror='';src='./img/error72.png'"/>
									<span ng-bind="i.filename" title="{{i.filename}}"></span>
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--右：评价-->
			<div class="zy_student_wrap fr">
				<p>评价</p>
				<div class="zy_student_right_main">
					<div class="zy_evaluate_state">
						<span class="">课堂状态</span>
						<b ng-bind="variablePacket.stuVo.flag">正常</b>
					</div>
					<div class="zy_comment_main">
						<span class="">评语</span>
						<div class="zy_comment_cont" ng-bind="variablePacket.stuVo.vcontent">评语评语评语评语评语评语评语评语评语评语评语评语评语评语评语评语评语评语评语评语评语评语评语评语评语评语</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--资源详情弹框-->
	<div class="gy_del_down zy_resource_box" ng-show="variablePacket.resourceBox">
	    <div class="gy_hide"></div>
	    <div class="gy_con">
	    	<div class="zy_resource_box_tit">
	    		<b ng-bind="variablePacket.filename">分享分享分享分享分享分享分享分享分享分享分享</b>
	    		<i class="iconfont icon-guanbi1 fr" ng-click="variablePacket.resourceBox=false"></i>
	    	</div>
	    	<div class="zy_resource_box_main">
				<ul ng-show="variablePacket.resourceVo.type=='image' || variablePacket.resourceVo.type=='document'">
					<li ng-repeat="x in variablePacket.resourceVo.imgs">
						<a href="{{x}}" target="_blank"><img ng-src="{{x}}"/></a>
					</li>
				</ul>
				<div ng-show="variablePacket.resourceVo.type=='video' || variablePacket.resourceVo.type=='audio'">
					<div id="videoFlash" >
						<p>您的浏览器还没有安装Flash插件</p>
						<a href="http://get.adobe.com/cn/flashplayer" target="_black">现在安装</a>
					</div>
				</div>
	    	</div>
		</div>
	</div>
</div>