<style type="text/css">
html{font:normal normal 62.5% "Microsoft YaHei";color:#000;}/*加上是--1rem等于10px*/
html,body{width: 100%;height: 100%;background-color: #f1f2f3;}
.ls_title1{
	width: 62.5%;
	height: 100%;
	min-width: 1200px;
	height: 72px;
	margin: 30px auto auto auto;
	background: #ffffff;
	border-radius: 3px;
}
.ls_title1>.ls_tikuname{
	float: left;
	height: 72px;
	border-radius: 3px;
}
.ls_title1>.ls_tikuname>h3{
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 9px;
}
.ls_title1>.ls_tikuname>h3>a>img{
	margin-left: 34px;
	margin-right: 7px;
	margin-top: 3px;
	cursor: pointer;
}
.ls_title1>.ls_tikuname>p{
	margin-top: 5px;
	margin-left: 61px;
	line-height: 25px;
	font-size: 14px;
}
.ls_title1>.ls_tikuname>p>img{
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
}
.ls_title1>.ls_sharedownload{
	float: right;
	height: 72px;
}
.ls_title1>.ls_sharedownload>span{
	line-height: 72px;
	text-align: center;
	font-size: 12px;
	margin-right: 24px;
	cursor: pointer;
}
.ls_title1>.ls_sharedownload>img{
	height: 13px;
	width: 13px;
	margin-top: 29px;
	margin-right: 5px;
}

.ls_nav1{
	width: 62.5%;
	height: 100%;
	min-width: 1200px;
	height: 56px;
	margin: 16px auto auto auto;
	background: #ffffff;
	border-radius: 3px;
}
.ls_nav1>ul{
	margin-left: 69px;
}
.ls_nav1>ul>li{
	line-height: 53px;
	font-size: 16px;
	float: left;
	margin-right: 43px;
	cursor: pointer;
}
.ls_nav1>.ls_close1{
	float: right;
	height: 56px;
	line-height: 56px;
	font-size: 16px;
	color: #1479bf;
	margin-right: 30px;
	cursor: pointer;
}
.ls_nav1>.ls_close1>img{
	margin-top: 22px;
	margin-left: 11px;
}
.ls_rotate{
	transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(Rotation=3);
}
.ls_main{
	width: 62.5%;
	min-width: 1164px;
	margin: 16px auto auto auto;
	padding: 0px 18px 18px 18px;
	background: #ffffff;
}
.ls_main>p{
	padding: 20px 0 20px 30px;
}

.ls_main1{
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #f1f2f3;
	margin-bottom: 16px;
}
.ls_ti{
	padding-top: 10px;
	padding-bottom: 16px;
	background: #ffffff;
	border-radius: 5px;
}
.ls_ti>h3{
	font-size: 12px;
	line-height: 24px;
	color: #7f8487;
}
.ls_ti>h3>span{
	display: block;
	width: 24px;
	height: 24px;
	color: #ffffff;
	background: #666666;
	text-align: center;
	float: left;
	margin-right: 12px;
}
.ls_ti>p{
	line-height: 63px;
	font-size: 16px;
	margin-left: 51px;
}
.ls_ti>ul{
	margin-left: 51px;
}
.ls_ti>ul>li{
	line-height: 63px;
	font-size: 16px;
	float: left;
	margin-right: 34px;
}
.ls_ti>ul>li span{
	display: block;
	float: left;
	margin-right: 14px;
}
.ls_ti>a{
	display: block;
	text-align: right;
	line-height: 27px;
	font-size: 16px;
	color: #94989a;
	margin-right: 30px;
	width: 150px;
	float: right;
}
.ls_ti>a>img{
	margin-top: 10px;
	margin-left: 8px;
}
.ls_ti>a>span{
	cursor: pointer;
}
.ls_ti>p{
	width: 70%;
	min-width: 1020px;
}

.ls_daan{
	margin: 1px auto auto auto;
	background: #ffffff;
	border-radius: 5px;
	padding-left: 36px;
	padding-top: 10px;
	padding-bottom: 16px;
	padding-right: 30px;
	line-height: 26px;
	font-size: 14px;
}
.ls_daan h3{
	font-weight: bold;
	font-size: 14px;
}
.ls_daan div{
	width: 345px;
	background: #e2f1fa;
	margin-top: 7px;
}

.ls_daan div a{
	color: #448cc7;
	display: block;
	float: right;
	margin-right: 13px;
	cursor: pointer;
}

.ls_daan div img{
	display: block;
	float: left;
	margin-top: 3px;
	margin-right: 4px;
}

.ls_daan div span{
	display: block;
	max-width: 290px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ls_active{
	border-bottom: 3px solid #399fdf;
	color: #399fdf;
}
.fixed {
    position:fixed;margin:auto;left:0; right:0; top:0;
}
</style>
<div>
	<div class="ls_title1 clearfix" id='title1'>
		<div class="ls_tikuname">
			<h3>
				<a href="#" ui-sref="secondNav.questionBankType.myQuestionBank()"><img src="img/ls/tiku_fanhui.png"/></a>
				<span ng-bind="examName"></span>
			</h3>
			<p>
				<img src="img/ls/tiku_student_name.png"/><span ng-bind="createUser"></span>
				<img src="img/ls/tiku_clock.png" /><span ng-bind="createDate"></span>
				<!--<img src="/PortalSite/src/img/ls/tiku_card.png"/>1049.02k-->
			</p>
		</div>
		
		<div class="ls_sharedownload">
			<!--<img src="/PortalSite/src/img/ls/tiku_share.png"/><span><a href="#">分享</a></span>
			<img src="/PortalSite/src/img/ls/tiku_download.png"/><span href="#"><a>下载</a></span>-->
		</div>
	</div>
	
	<div class="ls_nav1 clearfix">
		<ul>
			<li ng-repeat="nav in nav1" ng-if="nav.show" ng-click="tab1($index)" ng-class="{ls_active:flag == $index}" ng-bind="nav.type"></li>
		</ul>
		
		<!--
		<div class="ls_close1" ng-model="close_all" ng-click="closeAll()">
			{{close_all ? '收起全部解析' : '展开全部解析'}}<img ng-class="{ls_rotate:close_all == false}" src="/PortalSite/src/img/ls/tiku_zhankai_lan.png" />
		</div>
		-->
	</div>
	<div class="ls_main" ng-repeat="type in nav1" id="{{$index}}" ng-if="type.show" ng-init="outerIndex = $index">
		<p ng-bind="type.type"></p>
		<!-- 题目 -->
		<div class="ls_main1" ng-repeat="ti in type.data">
			<div class="ls_ti clearfix">
				<h3>
					<span ng-bind="$index + 1"></span>
					<a ng-bind="type.type"></a>
				</h3>
				<p ng-bind-html="ti.body | trustHtml"></p>
				<!--<p ng-if="ti.type == 5" ng-repeat="problem in ti.problems" ng-bind="problem"></p>-->
				<a ng-click="closeOne(outerIndex, $index)"><span>查看答案及解析</span><img ng-class="{ls_rotate:states[outerIndex].m[$index] == false}" src="img/ls/tiku_zhankai_hui.png"/></a>
			</div>
			<!-- 答案及解析 -->
			<div class="ls_daan" ng-show="states[outerIndex].m[$index]">
				<h3>答案</h3>
				<p ng-bind="ti.answer"></p>
				<h3>解析</h3>
				<p ng-bind-html="ti.analysis | trustHtml"></p>
				<h3>章节</h3>
				<p ng-bind="ti.subjNames"></p>
				<!-- 单选题资源 -->
				<li ng-if='ti.resState'>
					<h3>资源</h3>
					<div class="clearfix">
						<img src="./img/{{ti.resources[0].type | resTypeFilter}}"/>
						<span ng-bind='ti.resources[0].name' ng-click='insertResource(ti.resources[0])'></span>
						<!--<a>删除</a>-->
					</div>
				</li>
			</div>
		</div>
	</div>
	
</div>

<!--资源详情弹层-->
<div class="gy_del_down zy_resource_box" ng-if='variablePacket.insertResource'>
   	<div class="gy_hide"></div>
    <div class="gy_con mlh_con">
    	<div class="zy_resource_box_tit">
    		<b ng-bind="variablePacket.clickResourceName"></b>
    		<i class="iconfont icon-guanbi1 fr" ng-click='closeResource()'></i>
    	</div>
    	<div class="zy_resource_box_main">
			<div ng-show='variablePacket.convertState == "1" && variablePacket.backResourceType == "pic"'>
				<img src="{{variablePacket.imagePath}}"/>
			</div>
			<div ng-show='variablePacket.convertState == "1"' class="zyx_ResLineVideo bofangqi" id="showplayer">
				<div ng-if="variablePacket.showplayer" class="loadFlashWrap">
					<p>您的浏览器还没有安装Flash插件</p>
					<a href="http://get.adobe.com/cn/flashplayer" target="_black">现在安装</a>
				</div>
			</div>
			<div class="zyx_ResLinePDF mlh_pdf" ng-show='variablePacket.convertState == "1" && variablePacket.backResourceType == "pdf"'>
				<iframe width="854" height="511" src="{{variablePacket.pdfPath}}"></iframe>
			</div>
			<div ng-show="variablePacket.convertState == '2'" >
				<div class="bofangqi" >
					<div class="loadFlashWrap">
						<p>资源转码失败!</p>
					</div>
				</div>
			</div>
			<div ng-show="variablePacket.convertState == '0'" >
				<div class="bofangqi" >
					<div class="loadFlashWrap">
						<p>该资源正在转码中......</p>
					</div>
				</div>
			</div>
    	</div>
	</div>
</div>
