<div class="wx_right_cont fl">
<!--教研活动量趋势图-->
	<div class="wx_user_timer mlh_cont_border">
		<div class="wx_echart_tit">
			<span class="fl">教研活动量趋势图</span>
		</div>
		<div class="wx_type_btn">
			<button class="wx_btn_hui wx_active" ng-click="changeChartstate(0)" ng-class="{'wx_active':variablePacket.stateChart==0}">年度趋势</button>
			<button class="wx_btn_hui" ng-click="changeChartstate(1)" ng-class="{'wx_active':variablePacket.stateChart==1}">月度趋势</button>
		</div>
		<!--折线图部分-->
		<div>
			<div id="containerChart2" ng-if="variablePacket.stateChart==0"  style="width:922px;height:380px;margin: 0 auto;position: relative;"  class="containerChart"></div>
			<div id="containerChart3" ng-if="variablePacket.stateChart==1"  style="width:922px;height:380px;margin: 0 auto;position: relative;"  class="containerChart"></div>
		</div>
	</div>

	<!--教研活动量统计图饼状图统计-->
	<div class="wx_user_timer wx_mt10 mlh_radius_top mlh_line">
		<div class="wx_echart_tit">
			<span class="fl">教研活动量统计图</span>
			<div class="fr">
				<select name="" ng-change="selectChange(year.name)" class="wx_studyyear" ng-model="year"  ng-options="year.name for year in variablePacket.schoolYear">
				</select>
			</div>
		</div>
		<!--教师饼状图-->
		<div class="clearfix">
			<div class="wx_xueduan_ul" ng-if="variablePacket.schoolshow">
				学段：
				<ul>
					<li ng-class="{active:variablePacket.xueduanelect}" ng-click="xueduanall()">全部</li>
					<li ng-class="{active:variablePacket.xueduantype==r.id}" ng-repeat="r in variablePacket.xueduanrange" ng-click="changexueduan($index)" ng-bind="r.name"></li>
				</ul>
			</div>
			<!--柱状图 start-->
			<div>
				<div id="changeSubjectColumn" class="containerChart" style="height:350px; margin-top:20px"></div>
			</div>
			<!--柱状图 end-->
			<!--数据明细 start-->
				<div class="zyx_dataDetail mlh_tab">
					<p>
						数据明细 
						<span ng-click='typeIfShow()'>
							<em ng-if='variablePacket.typeIfShow'>
								收起
								<i class="iconfont icon-xiangxiazhankai"></i>
							</em>
							<em ng-if='!variablePacket.typeIfShow'>
								展开
								<i class="iconfont icon-arrow-up "></i>
							</em>
						</span>
					</p>
					<table class="zyx_ResTables toggle" ng-if='variablePacket.typeIfShow' ng-repeat='j in variablePacket.dataThead'>
						<thead>
							<tr>
								<th style="width: 103px;">学科</th>
								<th  style="width: 103px;" ng-repeat='i in j.subjTempArr' ng-bind='i'></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="width: 103px;">活动量</td>
								<td  style="width: 103px;" ng-bind='i' ng-repeat='i in j.subjTempNum track by $index'></td>
						</tbody>
					</table>
				</div>
				<!--数据明细 end-->
		</div>
	</div>

	<!--教研活动量统计表-->
	<div class="wx_user_timer_table mlh_radius" ng-controller="tableAreaCtrl as tableArea">
		<p class="wx_echart_tit">教研活动量统计表</p>

		<div class="wx_table_longtime">
			<!--省市区县数据表格-->
			<table class="wx_table_longdetai" datatable="ng" dt-options="tableArea.dtOptions" ng-if="!variablePacket.scholldatashow">
				<thead>
					<tr>
						<th class="wx_tdfivewidth" ng-bind="variablePacket.tablearea"></th>
						<th>教研活动总量(次)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>总计</b></td>
						<td><b>{{variablePacket.sum}}</b></td>
					</tr>
					<tr ng-repeat="i in variablePacket.tabledata.quyu">
						<td class="wx_lanzi wx_cursor"  ng-click="findCityCount(i.id,i.name,variablePacket.tabledata.type)">{{i.name}}</td>
						<td>{{i.totlenum}}</td>
					</tr>
				</tbody>
			</table>
			<!--教师数据表格 最后才显示-->
			<table class="wx_table_longdetai"  datatable="ng" dt-options="tableArea.dtOptions" ng-if="variablePacket.scholldatashow">
				<thead>
					<tr>
						<th class="wx_tdfivewidth" ng-bind="variablePacket.tablearea"></th>
						<th>教研活动总量(次)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>总计</b></td>
						<td><b>{{variablePacket.sum}}</b></td>
					</tr>
					<tr ng-repeat="i in variablePacket.tabledata.quyu">
						<td class="">{{i.name}}</td>
						<td>{{i.totlenum}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>